.style.vertical-align-middle-innerbox {
    padding: 5px;
}
.paragraph_style {
    color: rgb(255, 255, 255);
    font-family: 'TrebuchetMS', 'Trebuchet MS', sans-serif;
    font-size: 14px;
    font-stretch: normal;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 16px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    opacity: 1.00;
    padding-bottom: 0px;
    padding-top: 0px;
    text-align: left;
    text-decoration: none;
    text-indent: 0px;
    text-transform: none;
}
.style_1 {
    color: rgb(107, 209, 226);
    line-height: 16px;
    opacity: 1.00;
}
.style_2 {
    padding: 4px;
}
.paragraph_style_1 {
    color: rgb(255, 255, 255);
    font-family: 'TrebuchetMS', 'Trebuchet MS', sans-serif;
    font-size: 32px;
    font-stretch: normal;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 37px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    opacity: 1.00;
    padding-bottom: 0px;
    padding-top: 0px;
    text-align: left;
    text-decoration: none;
    text-indent: 0px;
    text-transform: none;
}
.style_3 {
    color: rgb(226, 222, 221);
    line-height: 37px;
    opacity: 1.00;
}
.style_4.vertical-align-middle-innerbox {
    padding: 4px;
}
.style_5 {
    padding: 13px;
}
.paragraph_style_2 {
    color: rgb(230, 48, 160);
    font-family: 'Copperplate', 'Trebuchet MS', fantasy;
    font-size: 15px;
    font-stretch: normal;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    letter-spacing:     0.20em;
    line-height: 15px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    opacity: 1.00;
    padding-bottom: 1px;
    padding-top: 0px;
    text-align: left;
    text-decoration: none;
    text-indent: 0px;
    text-transform: none;
}
.style_6 {
    font-family: 'Copperplate-Bold', 'Copperplate', 'Trebuchet MS', fantasy;
    font-size: 20px;
    font-stretch: normal;
    font-style: normal;
    font-weight: 700;
    line-height: 20px;
}
.paragraph_style_3 {
    color: rgb(0, 0, 0);
    font-family: 'Copperplate', 'Trebuchet MS', fantasy;
    font-size: 15px;
    font-stretch: normal;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    letter-spacing:     0.04em;
    line-height: 23px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    opacity: 1.00;
    padding-bottom: 18px;
    padding-top: 0px;
    text-align: left;
    text-decoration: none;
    text-indent: 0px;
    text-transform: none;
}
.paragraph_style_4 {
    color: rgb(0, 0, 0);
    font-family: 'Copperplate', 'Trebuchet MS', fantasy;
    font-size: 14px;
    font-stretch: normal;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    letter-spacing:     0.04em;
    line-height: 17px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    opacity: 1.00;
    padding-bottom: 4px;
    padding-top: 6px;
    text-align: left;
    text-decoration: none;
    text-indent: 0px;
    text-transform: none;
}
.paragraph_style_5 {
    color: rgb(230, 48, 160);
    font-family: 'Copperplate-Bold', 'Copperplate', 'Trebuchet MS', fantasy;
    font-size: 18px;
    font-stretch: normal;
    font-style: normal;
    font-variant: normal;
    font-weight: 700;
    letter-spacing:     0.04em;
    line-height: 18px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    opacity: 1.00;
    padding-bottom: 1px;
    padding-top: 0px;
    text-align: left;
    text-decoration: none;
    text-indent: 0px;
    text-transform: none;
}
.paragraph_style_6 {
    color: rgb(0, 0, 0);
    font-family: 'Copperplate-Bold', 'Copperplate', 'Trebuchet MS', fantasy;
    font-size: 18px;
    font-stretch: normal;
    font-style: normal;
    font-variant: normal;
    font-weight: 700;
    letter-spacing:     0.04em;
    line-height: 18px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    opacity: 1.00;
    padding-bottom: 18px;
    padding-top: 0px;
    text-align: left;
    text-decoration: none;
    text-indent: 0px;
    text-transform: none;
}
.paragraph_style_7 {
    background: rgb(107, 209, 226);
    color: rgb(0, 0, 0);
    font-family: 'Copperplate', 'Trebuchet MS', fantasy;
    font-size: 14px;
    font-stretch: normal;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    letter-spacing:     0.04em;
    line-height: 14px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    opacity: 1.00;
    padding-bottom: 4px;
    padding-top: 6px;
    text-align: left;
    text-decoration: none;
    text-indent: 0px;
    text-transform: none;
}
.style_7 {
    color: rgb(230, 48, 160);
    line-height: 18px;
    opacity: 1.00;
}
.paragraph_style_8 {
    color: rgb(5, 1, 2);
    font-family: 'Copperplate-Bold', 'Copperplate', 'Trebuchet MS', fantasy;
    font-size: 14px;
    font-stretch: normal;
    font-style: normal;
    font-variant: normal;
    font-weight: 700;
    letter-spacing:     0.04em;
    line-height: 14px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    opacity: 1.00;
    padding-bottom: 4px;
    padding-top: 6px;
    text-align: left;
    text-decoration: none;
    text-indent: 0px;
    text-transform: none;
}
.style_8 {
    letter-spacing: 0;
    line-height: 14px;
}
.style_External_134_50.vertical-align-middle-middlebox {
    height: 50px;
    position: relative;
    width: 134px;
}
.paragraph_style_9 {
    color: rgb(255, 255, 255);
    font-family: 'TrebuchetMS', 'Trebuchet MS', sans-serif;
    font-size: 12px;
    font-stretch: normal;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 14px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    opacity: 1.00;
    padding-bottom: 0px;
    padding-top: 0px;
    text-align: left;
    text-decoration: none;
    text-indent: 0px;
    text-transform: none;
}
.style_9.vertical-align-middle-innerbox {
    padding: 4px;
}
.style_External_161_39.vertical-align-middle-middlebox {
    height: 39px;
    position: relative;
    width: 161px;
}
.paragraph_style_10 {
    color: rgb(0, 0, 0);
    font-family: 'Verdana-Bold', 'Verdana', sans-serif;
    font-size: 14px;
    font-stretch: normal;
    font-style: normal;
    font-variant: normal;
    font-weight: 700;
    letter-spacing: 0;
    line-height: 17px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    opacity: 1.00;
    padding-bottom: 0px;
    padding-top: 0px;
    text-align: center;
    text-decoration: none;
    text-indent: 0px;
    text-transform: none;
}
.paragraph_style_11 {
    color: rgb(230, 48, 160);
    font-family: 'Copperplate', 'Trebuchet MS', fantasy;
    font-size: 22px;
    font-stretch: normal;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 22px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    opacity: 1.00;
    padding-bottom: 0px;
    padding-top: 0px;
    text-align: center;
    text-decoration: none;
    text-indent: 0px;
    text-transform: none;
}
.paragraph_style_12 {
    color: rgb(230, 48, 160);
    font-family: 'Copperplate', 'Trebuchet MS', fantasy;
    font-size: 20px;
    font-stretch: normal;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    letter-spacing:     0.24em;
    line-height: 20px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    opacity: 1.00;
    padding-bottom: 1px;
    padding-top: 0px;
    text-align: left;
    text-decoration: none;
    text-indent: 0px;
    text-transform: none;
}
.style_10 {
    font-family: 'Copperplate-Bold', 'Copperplate', 'Trebuchet MS', fantasy;
    font-size: 20px;
    font-stretch: normal;
    font-style: normal;
    font-weight: 700;
    line-height: 20px;
}
.paragraph_style_13 {
    color: rgb(0, 0, 0);
    font-family: 'ArialMT', 'Arial', sans-serif;
    font-size: 15px;
    font-stretch: normal;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    letter-spacing:     0.04em;
    line-height: 26px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    opacity: 1.00;
    padding-bottom: 18px;
    padding-top: 0px;
    text-align: left;
    text-decoration: none;
    text-indent: 0px;
    text-transform: none;
}
.style_External_232_410 {
    position: relative;
}
.style_11 {
    font-family: 'ArialMT', 'Arial', sans-serif;
    font-size: 12px;
    font-stretch: normal;
    font-style: normal;
    font-weight: 400;
    line-height: 21px;
}
.paragraph_style_14 {
    color: rgb(0, 0, 0);
    font-family: 'Copperplate', 'Trebuchet MS', fantasy;
    font-size: 12px;
    font-stretch: normal;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    letter-spacing:     0.04em;
    line-height: 14px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    opacity: 1.00;
    padding-bottom: 4px;
    padding-top: 6px;
    text-align: center;
    text-decoration: none;
    text-indent: 0px;
    text-transform: none;
}
.paragraph_style_15 {
    color: rgb(0, 0, 0);
    font-family: 'Copperplate', 'Trebuchet MS', fantasy;
    font-size: 12px;
    font-stretch: normal;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    letter-spacing:     0.04em;
    line-height: 14px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    opacity: 1.00;
    padding-bottom: 4px;
    padding-top: 6px;
    text-align: left;
    text-decoration: none;
    text-indent: 0px;
    text-transform: none;
}
.paragraph_style_16 {
    background: rgb(107, 209, 226);
    color: rgb(5, 1, 2);
    font-family: 'Copperplate', 'Trebuchet MS', fantasy;
    font-size: 18px;
    font-stretch: normal;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    letter-spacing:     0.04em;
    line-height: 18px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    opacity: 1.00;
    padding-bottom: 1px;
    padding-top: 0px;
    text-align: center;
    text-decoration: none;
    text-indent: 0px;
    text-transform: none;
}
.style_12 {
    color: rgb(255, 255, 255);
    line-height: 18px;
    opacity: 1.00;
}
.paragraph_style_17 {
    color: rgb(0, 0, 0);
    font-family: 'Verdana-Bold', 'Verdana', sans-serif;
    font-size: 18px;
    font-stretch: normal;
    font-style: normal;
    font-variant: normal;
    font-weight: 700;
    letter-spacing:     0.04em;
    line-height: 33px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    opacity: 1.00;
    padding-bottom: 18px;
    padding-top: 0px;
    text-align: left;
    text-decoration: none;
    text-indent: 0px;
    text-transform: none;
}
.paragraph_style_18 {
    color: rgb(0, 0, 0);
    font-family: 'Copperplate', 'Trebuchet MS', fantasy;
    font-size: 12px;
    font-stretch: normal;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    letter-spacing:     0.04em;
    line-height: 14px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    opacity: 1.00;
    padding-bottom: 18px;
    padding-top: 0px;
    text-align: center;
    text-decoration: none;
    text-indent: 0px;
    text-transform: none;
}
.style_13 {
    font-family: 'Copperplate', 'Trebuchet MS', fantasy;
    font-size: 11px;
    font-stretch: normal;
    font-style: normal;
    font-weight: 400;
    line-height: 13px;
}
.style_External_345_31 {
    bottom: 0px;
    position: absolute;
    width: 345px;
}
.style_SkipStroke_2 {
    background: transparent;
    opacity: 1.00;
}
.style_SkipStroke {
    background: transparent;
    opacity: 1.00;
}
.style_SkipStroke_1 {
    background: transparent;
    opacity: 1.00;
}
.style_SkipStroke_3 {
    background: transparent;
    opacity: 1.00;
}
.style_SkipStroke_4 {
    background: transparent url(CFFFFFFBA.png) repeat scroll center center;
    opacity: 1.00;
}
.style_SkipStroke_5 {
    background: transparent url(C00000084.png) repeat scroll center center;
    opacity: 1.00;
}
.style_SkipStroke_6 {
    background: transparent url(backgroundimage_1_1.png) no-repeat scroll center center;
    opacity: 1.00;
}
.style_SkipStroke_7 {
    background: transparent url(CFFFFFFBA.png) repeat scroll center center;
    opacity: 1.00;
}
.style_External_600_50 {
    bottom: 0px;
    position: absolute;
    width: 600px;
}
.style_External_624_122.vertical-align-middle-middlebox {
    height: 122px;
    position: relative;
    width: 624px;
}
.style_External_309_479 {
    position: relative;
}
.style_External_164_24 {
    bottom: 0px;
    position: absolute;
    width: 164px;
}
.Body {
    color: rgb(255, 255, 255);
    font-family: 'ArialMT', 'Arial', sans-serif;
    font-size: 15px;
    font-stretch: normal;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 20px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    opacity: 1.00;
    padding-bottom: 0px;
    padding-top: 0px;
    text-align: left;
    text-decoration: none;
    text-indent: 0px;
    text-transform: none;
}
.Header {
    color: rgb(255, 255, 255);
    font-family: 'Arial-BoldMT', 'Arial', sans-serif;
    font-size: 36px;
    font-stretch: normal;
    font-style: normal;
    font-variant: normal;
    font-weight: 700;
    letter-spacing: 0;
    line-height: 42px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    opacity: 1.00;
    padding-bottom: 0px;
    padding-top: 0px;
    text-align: center;
    text-decoration: none;
    text-indent: 0px;
    text-transform: none;
}
.Normal_External_624_122 {
    position: relative;
}
.Normal_External_134_50 {
    position: relative;
}
.Normal_External_232_410 {
    position: relative;
}
.Normal_External_309_479 {
    position: relative;
}
.Normal {
    padding: 4px;
}
.graphic_generic_body_textbox_style_default_SkipStroke {
    background: transparent;
    opacity: 1.00;
}
.graphic_generic_header_textbox_style_default_SkipStroke {
    background: transparent;
    opacity: 1.00;
}
.graphic_generic_title_textbox_style_default_SkipStroke {
    background: transparent;
    opacity: 1.00;
}
.graphic_image_style_default_SkipStroke {
    background: transparent;
    opacity: 1.00;
}
.graphic_shape_layout_style_default_External_345_31 {
    position: relative;
}
.graphic_shape_layout_style_default_External_161_39 {
    position: relative;
}
.graphic_shape_layout_style_default_External_600_50 {
    position: relative;
}
.graphic_shape_layout_style_default_External_164_24 {
    position: relative;
}
.graphic_shape_layout_style_default {
    padding: 4px;
}
a {
    color: rgb(255, 255, 255);
    text-decoration: none;
}
a:visited {
    color: rgb(255, 255, 255);
    text-decoration: none;
}
a.class1 {
    color: rgb(107, 209, 226);
}
a.class1:visited {
    color: rgb(107, 209, 226);
}
a.class1:hover {
    color: rgb(230, 48, 160);
}
a.class2 {
    color: rgb(5, 1, 2);
}
a.class2:visited {
    color: rgb(230, 75, 142);
}
a.class2:hover {
    color: rgb(107, 209, 226);
    text-decoration: none;
}
a:hover {
    color: rgb(107, 209, 226);
    text-decoration: none;
}
ol  { 
      padding:0;
      margin:0;
      text-indent:0;
      list-style-type:none ;
      list-style-image:none
    }
.Bullet { 
          text-decoration:none ;
          text-transform:none ;
          border: none;          
        }
.bumper {
    font-size: 1px;
    line-height: 1px;
}
.tinyText {
    font-size: 1px;
    line-height: 1px;
}
#widget0 a:hover {
    color: rgb(107, 209, 226);
    text-decoration: none;
}
#widget0 a:visited {
    color: rgb(255, 255, 255);
    text-decoration: none;
}
#widget0 a {
    color: rgb(255, 255, 255);
    text-decoration: none;
}
.spacer {
    font-size: 1px;
    line-height: 1px;
}
body { 
    -webkit-text-size-adjust: none;
}
div { 
    overflow: visible; 
}
img { 
    border: none; 
}
.InlineBlock { 
    display: inline; 
}
.InlineBlock { 
    display: inline-block; 
}
.inline-block {
    display: inline-block;
    vertical-align: baseline;
    margin-bottom:0.3em;
}
.inline-block.shape-with-text {
    vertical-align: bottom;
}
.vertical-align-middle-middlebox {
    display: table;
}
.vertical-align-middle-innerbox {
    display: table-cell;
    vertical-align: middle;
}
div.paragraph {
    position: relative;
}
li.full-width {
    width: 100;
}
